@model MySampleConfiguration
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <b>Author:</b> @this.Model.Author
    <br />
    <b>Friend:</b> @this.Model.Friend
    
</div>
